.slick-slide img {
    /* padding: 15px; */
    object-fit: cover;
    width: 90%;
    height: 500px;
}

.slick-center img {
    height: 650px;
    transition: transform 1s ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) !important;
}

.slick-center~.slick-slide img {
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(25deg);
}

.slick-center+.slick-slide img {
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(-25deg);
}

.slick-arrow:before {
    font-size: 30px;
}

.slick-dots li button:before {
    color: FFF;
    background: #FFF;
}